extends ../layout

block content
    .jumbotron
        .h1 #{title}
        .container
            .table
                each val, index in results.list

                    form.row(action='/admin/approve/inst', method='post')
                        .col-sm-2
                            .h3 Request: #{index + 1}
                        .col-lg
                            .card
                                .card-header #{val.institutionName}
                                .card-body #{val.institutionDesc}
                                .card-footer #{val.institutionStreetAddr} #{val.institutionCity} , #{val.institutionStateCD} #{val.institutionZipCD}
                        .col-lg
                            .row
                                .col-sm.text-center
                                    button.btn.btn-secondary.btn-lg(type='submit', value=1, name='submit') Approve
                                .col-sm
                                    button.btn.btn-danger.btn-lg(type='submit', value=2, name='submit') Deny
                                input.invisible(type='text', name='id', value=val.institutionID,  maxlength='3')
                    .row.m-2