extends ../layout

block content
    .jumbotron
        .h1 #{title}
        if session
            if session.passport
                if session.passport.user
                    if session.passport.user.type === 'inst'
                        .h2 #{session.passport.user.institutionName}
                        .container
                            .table
                                .row.m-2
                                    .col.m-2.card.bg-secondary.text-white
                                        .card-header.h3 Details
                                            //button#videoSave.close(type='submit', name='institutionID', value=session.passport.user.institutionID) Save
                                        .card-body
                                            .row
                                                .col.m-1
                                                    .h4.card-title Description:
                                                    .card-text #{session.passport.user.institutionDesc}
                                                .col.m-1
                                                    .h4.card-title Address:
                                                    .card-text #{session.passport.user.institutionStreetAddr}
                                                    .card-text #{session.passport.user.institutionCity} #{session.passport.user.institutionStateCD}, #{session.passport.user.institutionZipCD}
                                    .col.m-2.card.bg-secondary.text-white
                                        .card-header.h3 Institution Description
                                        .card-body #{session.passport.user.institutionDesc}
                                .row.m-2
                                .row.m-2
                                    .col.m-2.card.bg-secondary.text-white
                                        .card-header.h3 Contact Info
                                        .card-body #{session.passport.user.institutionEmail}
                                    .col.m-2.card.bg-secondary.text-white
                                        .card-header.h3 Manage Courses
                                        a.btn.btn-lg.btn-primary(href='/inst/home/class') View Courses
                    if session.passport.user.type === 'student'
                        .h2 #{inst.institutionName}
                        .container
                            .table
                                .row.m-2
                                    .col.m-2.card.bg-secondary.text-white
                                        .card-header.h3 Details
                                            //button#videoSave.close(type='submit', name='institutionID', value=session.passport.user.institutionID) Save
                                        .card-body
                                            .row
                                                .col.m-1
                                                    .h4.card-title Description:
                                                    .card-text #{inst.institutionDesc}
                                                .col.m-1
                                                    .h4.card-title Address:
                                                    .card-text #{inst.institutionStreetAddr}
                                                    .card-text #{inst.institutionCity} #{inst.institutionStateCD}, #{inst.institutionZipCD}
                                    .col.m-2.card.bg-secondary.text-white
                                        .card-header.h3 Institution URL
                                        .card-body #{inst.institutionUrl}
                                .row.m-2
                                .row.m-2
                                    .col.m-2.card.bg-secondary.text-white
                                        .card-header.h3 Contact Info
                                        .card-body #{inst.institutionEmail}
                                    .col.m-2.card.bg-secondary.text-white
                                        .card-header.h3 Manage Courses
                                        a.btn.btn-lg.btn-primary(href='/student/inst/home/class?institutionID=' + inst.institutionID) View Courses