extends ../layout

block content
    .jumbotron
        .h1 #{title}
        .container
            .table
                each val, index in results.list
                    .row
                        .col-lg
                            .card.text-white.bg-primary.mb-3
                                .card-header #{val.name}
                                    a.close #{val.inst}
                                .card-body Course Description: #{val.desc}
                                .card-footer
                                    .card-text Seats: #{val.seats}
                                    button.close Register
